[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/vanita57
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/vanita57
	label-Verified = -1..+1 group user/vanita57
	push = group user/vanita57
	read = group user/vanita57
	rebase = group user/vanita57
	removeReviewer = group user/vanita57
	submit = group user/vanita57
[access "refs/heads/*"]
	create = group user/vanita57
	push = +force group user/vanita57
	pushMerge = group user/vanita57
	read = group user/vanita57
[access "refs/tags/*"]
	push = group user/vanita57
	push = +force group user/vanita57
